NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCBcm80xmKqdPioKo-eH3k3YfdPsuwdAT4"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="profile-company-indokoding.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="profile-company-indokoding"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="profile-company-indokoding.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="195112865661"
NEXT_PUBLIC_FIREBASE_APP_ID="1:195112865661:web:7efb43b520b4ca3c418614"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-59XEPRJSZV"


